
.home-nav{
    font-size:1.7rem;
    width:100wh;
    opacity: 0.9;
   background-color: var(--color-primary);

}
.navigation-box{
    padding: var(--size-4);
    /* background-color: var(--color-primary); */
    color: var(--color-black);
}
.nav-child:hover,.menu-item:hover{
    color: var(--color-primary);
}